.deleteButton{
  font-size:10px;
       font-family:Verdana,Helvetica;
       font-weight:bold;
       color:white;
       background:#638cb5;
       border:0px;
       width:80px;
       height:19px;
}
.confirmateDelete{
  display: none;
  background-color: #638cb5;
}
#spanGenre{
  color: green;
}
.updateButton{
  font-size:10px;
       font-family:Verdana,Helvetica;
       font-weight:bold;
       color:white;
       background:#638cb5;
       border:0px;
       width:80px;
       height:19px;
}
.updateGenre{
    display: none;
    background-color: #638cb5;
}

#spanGenreUpdate{
  color: green;
}
