.orangeTable{
  width: 100%;
  background-color: #FFC952;
  border-style: dotted;
  border-color: gray;
}
.editButton{
  text-decoration: none;
}
.pagination li{
  display: inline;
  text-decoration: none;
}
.pagination a{
  text-decoration: none;
}
